html,
body {
  box-sizing: border-box;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
}

h1,
h2,
ul {
  margin: 0;
  padding: 0;
}

.contain {
  width: 100%;
  display: flex;
}

nav {
  height: 60px;
  background: #3c3a39;
  align-items: center;
  justify-content: space-between;
}

.navbar-logo {
  padding-left: 24px;
  font-size: 18px;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  color: #fff;
  text-decoration: none;
}

.contenido {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

@media (max-width: 768px) {
  .humburger {
    display: block;
    cursor: pointer;
  }

  .humburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .humburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .humburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .navbar-desk {
    position: fixed;
    height: 100vh;
    left: -100%;
    top: 10px;
    display: flex;
    flex-direction: column;
    background: #3c3a39;
    text-align: left;
    transition: 0.3s;
    color: white;
    padding-top: 20px;
    padding-left: 40px;
  }

  .navbar-desk a {
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
  }

  .hr-p {
    display: flex;
    width: 95%;
    color: rgb(102, 100, 100);
    margin-top: -10px;
  }

  .text-white {
    display: none;
  }

  .navbar-desk.active {
    width: 100%;
    left: 0;
  }
}

.navbar-desk li {
  font-size: 15px;
  padding: 8px 12px;
  list-style: none;
  margin-right: 40px;
}

.navbar-desk a {
  color: #fff;
  text-decoration: none;
}

.navbar-link a:hover {
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
}

.header-box {
  background-size: 256px;
  width: 100%;
  background-color: #1c1a19;
  display: flex;
  background-repeat: no-repeat;
  background-position: bottom right -110px;
  background-image: url("./Images/header-illustration.png");
}

.header-content {
  width: 100%;
  padding: 90px 24px;
}

.header-title {
  margin: 12px 0;
  font-weight: 400;
  font-size: 55px;
  color: #ff6b00;
}

.header-subtitle {
  display: flex;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #fff5e1;
}

.header-text-description {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.social-media {
  margin-top: 20px;
  display: flex;
  list-style: none;
}

.social-media-icon {
  padding: 15px;
  display: flex;
  justify-content: center;
}

.recent {
  display: none;
}

.recent-container {
  width: 100%;
}

.recent-work {
  text-align: center;
  font-weight: 400;
  font-size: 40px;
  margin-top: 50px;
}

.about-hr {
  border: 1px dotted #000;
  margin-bottom: 15px;
}

.image-p {
  margin: 20px;
}

.image-placeholder {
  width: 100%;
}

.multi-post {
  font-weight: 400;
  font-size: 32px;
  margin-top: 50px;
  color: #091e42;
}

.recent-detail {
  font-family: "Inter", serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #091e42;
  margin-right: 30px;
}

.course {
  display: flex;
  gap: 12px;
}

.list {
  border: 1px solid #8993a4;
  padding: 10px;
  font-size: 15px;
  font-family: Inter, sans-serif;
  list-style: none;
  box-sizing: border-box;
  font-weight: 500;
}

.project {
  width: 124px;
  height: 48px;
  margin-top: 15px;
  background: #ff6b00;
  color: #fff;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  border: none;
}

.project:hover {
  transition: all 0.2s ease-in-out;
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

.professional {
  padding-top: 50px;
  background-image: url("Images/skeloton/Img Place.png");
  background-repeat: no-repeat;
  background-size: 95% auto;
  background-position-x: center;
}

.art-print {
  height: 30px;
  font-size: 38px;
  line-height: 44px;
  color: #fff;
  margin-left: 20px;
  margin-right: auto;
}

.daily-selection {
  margin-right: auto;
  height: 60px;
  padding-top: 40px;
  margin-left: 20px;
  font-family: "Inter", serif;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.pro-tag {
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
  gap: 12px;
  margin-left: 20px;
}

.pro-h {
  border: 1px solid #8993a4;
  padding: 10px;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  line-height: 20px;
  list-style: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.24);
}

.see-proj {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
  width: 95%;
  height: 48px;
  background: #ff6b00;
  font-family: "Inter", serif;
  font-weight: 700;
  font-size: 17px;
  letter-spacing: 0.03em;
  color: #fff;
  border: none;
  cursor: pointer;
}

.see-proj:hover {
  transition: all 0.2s ease-in-out;
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #853c00;
}

.all-in {
  display: none;
}

.myresent h2 {
  margin-left: 110px;
}

.line-h {
  width: 60%;
  position: relative;
  bottom: 30px;
  margin-right: 110px;
  border: 1px solid #b1adac;
}

.dashbord2 {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 50px;
  font-weight: normal;
  font-size: 32px;
  color: #fff;
  margin-top: 120px;
}

.texto3 {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  padding-left: 20px;
}

.botones3 button {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  background-color: rgba(255, 255, 255, 0.24);
  color: #fff;
  margin-top: 40px;
  border: none;
}

.botones3 ul {
  list-style: none;
  display: flex;
  gap: 5px;
  padding: 10px 15px 0 20px;
}

.about {
  background: #1c1a19;
  height: auto;
}

.about-me {
  margin-top: 40px;
  padding-top: 120px;
  padding-bottom: 209px;
  background-image: url("Images/skeloton/Group.png");
  background-repeat: no-repeat;
  background-size: 493px 258px;
  background-position: bottom right -305px;
  margin-left: 20px;
}

.about-head {
  margin: 24px 0;
  font-size: 72px;
  color: #ff6b00;
}

.btn {
  padding: 12px;
  margin: 24px 0;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  background: #f55800;
  color: #fff;
  border: 1px solid #f56b00;
  cursor: pointer;
}

.btn:hover {
  transition: all 0.2s ease-in-out;
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

.hello {
  font-family: "Inter", serif;
  margin: 24px 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #f4f5f7;
}

.about-separater {
  border: 1px solid #fff;
  margin-bottom: 136px;
}

.technologies {
  list-style: none;
  text-align: center;
}

.tech-title {
  height: 41.46px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.tech {
  font-size: 22px;
  line-height: 43px;
  list-style: none;
  text-align: center;
  height: 48px;
  font-family: "Inter", serif;
  color: #fff;
}

.tech-title > h5 {
  font-weight: 700;
  font-size: 32px;
  color: #fff;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 10rem;
  background-color: #fff;
}

.form-detail {
  font-family: "Inter", serif;
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  margin-left: 45px;
  margin-right: 25px;
  padding-top: 90px;
  color: #172b4d;
}

input[type="text"],
input[type="email"] {
  font-family: "Inter", serif;
  margin-top: 20px;
  margin-left: 25px;
  width: 295px;
  border: #979493;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

textarea {
  margin-top: 20px;
  margin-left: 15px;
  width: 327px;
  height: 114px;
  border: #d4cfc9;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
}

.get {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  background: #f55800;
  color: #fff;
  border: 1px solid #f56b00;
  padding: 15px 20px;
  margin-left: 100px;
}

.get:hover {
  transition: all 0.2s ease-in-out;
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
  cursor: pointer;
}

.for-li {
  border: 1px solid rgb(158, 154, 154);
}

.icons {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.social-media-icons {
  padding: 15px;
  display: flex;
}

@media screen and (min-width: 768px) {
  body {
    width: 100%;
    overflow-x: hidden;
  }

  .navbar-logo {
    margin-left: 80px;
  }

  .navbar-desk {
    display: flex;
  }

  .navbar-menu {
    display: none;
  }

  .humburger {
    display: none;
  }

  .header-box {
    height: 100vh;
    background-position: top  right;
    background-size: 550px;
  }

  .header-title {
    font-size: 72px;
    line-height: 81px;
    width: 400px;
    margin-left: 80px;
    animation-name: title-animation;
    animation-duration: 4s;
  }

  @keyframes title-animation {
    from {
      margin-left: -200px;
    }

    to {
      margin-left: 80px;
    }
  }

  .header-subtitle {
    font-size: 32px;
    line-height: 44px;
    margin-top: 0;
    width: 566px;
    margin-left: 80px;
  }

  .hr-p {
    display: none;
  }

  .header-text-description {
    font-size: 1.3rem;
    line-height: 32px;
    width: 566px;
    margin-left: 80px;
  }

  .social-media {
    flex-direction: column;
    margin-right: 150em;
    margin-top: -300px;
  }

  .recent-container {
    display: none;
  }

  .all-in {
    display: grid;
  }

  .myresent h2 {
    height: 52px;
    font-weight: 400;
    font-size: 40px;
    margin-top: 110px;
  }

  .box1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .boxx-imge {
    height: 448px;
    margin-left: 120px;
    box-sizing: border-box;
  }

  .card {
    margin-left: 15px;
    font-weight: 400;
    font-size: 20px;
  }

  .daily {
    padding-left: 10px;
    padding-right: 150px;
    font-family: "Inter", sans-serif;
    font-weight: 350;
    font-size: 19px;
    line-height: 26px;
  }

  .botones4 {
    display: flex;
    margin-left: 10px;
    gap: 5px;
    list-style: none;
  }

  .botones4 li {
    border: 1px solid #8d8a89;
    background-color: rgba(255, 255, 255, 0.24);
    color: #091e42;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    padding: 0 10px;
    height: 30px;
  }

  .proyect button {
    width: 124px;
    height: 48px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    background: #ff6b00;
    color: #fff;
    margin-top: 20px;
    margin-left: 10px;
  }

  .see:hover {
    background-color: rgb(34, 189, 228);
    cursor: pointer;
  }

  .contenido {
    display: grid;
    width: calc(100% - 300px);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 10px;
    grid-row-gap: 50px;
    margin-left: auto;
    margin-right: auto;
  }

  .box2 {
    background: url(./Images/imgplaceholder.png);
    background-repeat: no-repeat;
  }

  .box3 {
    background: url(./Images/placeholder.png);
    background-repeat: no-repeat;
  }

  .box4 {
    background: url(./Images/iplaceholder.png);
    background-repeat: no-repeat;
  }

  .box {
    background: url(./Images/dark.png);
    background-repeat: no-repeat;
  }

  .brian1 button {
    width: 345px;
    height: 60px;
    margin-top: 375px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    background-color: #8a3900;
    font-size: 17px;
    color: #fff;
    border: none;
  }

  .about-me {
    width: 100%;
    padding-top: 120px;
    padding-bottom: 209px;
    background-image: url("Images/group.png");
    background-repeat: no-repeat;
    background-size: 493px 258px;
    background-position: top 30% right;
    margin-left: 20px;
  }

  .about-head {
    width: 566px;
    margin-left: 40px;
    height: 79px;
    font-size: 72px;
    line-height: 88px;
    letter-spacing: 0.33px;
    color: #ff6b00;
  }

  .hello {
    display: flex;
    padding-right: 600px;
    padding-left: 40px;
    font-size: 18px;
    line-height: 24px;
    color: #f4f5f7;
  }

  .btn {
    margin-left: 40px;
  }

  .about-separater {
    border: 1px solid #fff;
    margin-bottom: 150px;
    width: 1156px;
  }

  .tech1 {
    display: flex;
    justify-content: space-between;
    text-align: left;
    flex-direction: row;
    position: relative;
    bottom: 90px;
  }

  .technologies {
    text-align: left;
    list-style: none;
    width: 100%;
  }

  form {
    display: flex;
    width: 100%;
    background-color: #fff;
  }

  .form-detail {
    padding: 140px 150px;
    line-height: 52px;
    text-align: left;
    margin-right: 600px;
  }

  .ip-type {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 450px;
    left: 520px;
  }

  input[type="text"],
  input[type="email"] {
    position: relative;
    right: 250px;
    width: 295px;
    color: #979493;
    border-bottom: 1px solid #b1adac;
  }

  textarea {
    position: relative;
    width: 684px;
    height: 115px;
    right: 250px;
    background: #fbf8f7;
  }

  .get {
    position: relative;
    right: 335px;
  }

  .butt {
    display: flex;
    color: rgb(177, 172, 172);
    width: 100%;
    margin-bottom: 100px;
  }

  .for-li {
    display: none;
  }

  .icons {
    position: relative;
    bottom: 250px;
    padding-bottom: 10px;
  }
}
